/* ul{
  list-style: none;
} */
/* .PostListDiv , .MyPostUl{
  float:left ;  
  width : 400px;
  height:400px;
  margin-left:100px;
  margin-right: 100px;
  padding:50px; 
  display:inline; 
 
  justify-content: center;
   flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
   border:1px solid black; 
  box-shadow : 5px 5px 5px 5px rgb(141, 141, 173);
 
}
.PostListContainer{
   box-shadow : 5px 5px 5px 5px rgb(141, 141, 173); 
  /width:1500px;
  height:1000px;
  margin: auto;
  display: flex; 
  flex-direction: row;
  justify-content: center;
   justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
}  */