#mainPage-roadCartTxt {
    text-align: center;
    padding-top: 50px;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

#mainPage-roadCartTxt h1 {
    margin: 0;
    /* background: linear-gradient(to top, #bee4ff 50%, transparent 50%); */

}

#mainPage-roadCartTxt h6 {
    margin: 0;
    font-weight: 100;
    background: linear-gradient(to top, #ffedd3 50%, transparent 50%);
}

.BackgroundWrap {
    width: 500px;
    height: 480px;
    background-image: url('https://test-image.wishbeen.co.kr/h1040_2ed75eff5c7b54cf88f9e64b7ed26713.jpg');
    background-size: cover;
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-flex;
    max-width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px;
    cursor: pointer;
    margin-top: 15px;
}


#MonthTitle {
    margin: auto;
    /* display: block; */
    padding-left: 24%;
}

.Content {
    display: block;
}

.Content span {
    font-weight: bold;
    font-size: xx-large;
}

.Content p {
    font-size: large;
}



.TextOnImg {
    /* position: absolute; */
    display: flex;
    justify-content: right;
    /* 핵심코드 */
    /* top: 20%; */
    /* 핵심코드 */
    /* left: 50%; */
    /* 핵심코드 */
    /* transform: translate(-50%, -50%); */
    color: white;
}

.MainPageTxt {
    margin: 15px;
    display: block;
}

.MainPageTxt span {
    font-size: 20px;
    font-weight: bold;
}

.MainPageTxt p {
    font-size: 90%
}

#roadCartPost {
    margin: 0;
    font-size: small;
}

#root>div>div:nth-child(2)>div:nth-child(3)>div>div:nth-child(2) {
    padding-left: 8px;
}

#root>div>div:nth-child(2)>div:nth-child(3)>div>div:nth-child(1) {
    padding-right: 8px;

}



.MainBoxItem {
    background-color: white;
    width: 500px;
    height: 150px;
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: 0 0 18px #00000014;
    display: flex;
    cursor: pointer;
}


.MainBoxItem img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
    width: 150px;
    min-width: 150px;
    object-fit: cover;
}

.MuiGrid-root {
    padding: 0 16px 16;
}


/* -------- 길스타그램 ------------ */


.MainSection {
    margin: 0 auto;
    padding-left: 15%;
    max-width: 101.2rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

ul {
    flex-wrap: wrap;
}

.RoadGramItem {
    background-color: white;
    width: 240px;
    height: 80%;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 18px #00000014;
    cursor: pointer;
    display: inline-block;
}

.main-li {
    background-color: none;
    list-style: none;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0px;
    padding: 0px;
    width: 90%;

}

div.MainSection>h1 {
    margin: 0;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 5px;
}

#RoadGramBoxImg {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.RoadGramItemDetail {
    padding: 12px;

}

.RoadGramItemDetail span {
    font-weight: bold;
}

.RoadGramItemDetail p:nth-child(2) {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.RoadGramItemDetail p:nth-child(3) {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0px;
}

/* --------메인 이용가이드--------- */
.MainGuideContainer {
    display: flex;
    height: 200px;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background-color: #f6f6f6,
}

.MainGuideContainer div {
    width: 300px;
}

.MainGuide p:nth-child(1) {
    font-size: large;
    font-weight: bold;
}

.MainGuideTitle {
    margin-right: 50px;
    font-size: 13px
}

.MainGuidStep p:nth-child(1) {
    font-weight: bold;
    font-size: large;
}

.SwiperSliderImg {
    width: 100vw;
    height: 500px;
    cursor: pointer;
    object-fit: cover;   

}

.swiper-button-next {
    background-size: 100%;
    background-position: center;
    margin-right: 20px;
}

.swiper-button-prev {
    background-size: 100%;
    background-position: center;
    margin-left: 20px;
}

.SwiperContainer{
    position: sticky;
    width: 100vw;
    box-sizing: border-box;
    object-fit: cover;
}
